[submodule "repo/BE"]
	path = repo/BE
	url = git@github.com:pcthuoc/thuydien.git
	branch = feat/react-frontend
[submodule "repo/FE"]
	path = repo/FE
	url = git@github.com:pcthuoc/UI_thuydien.git
	branch = master
